@using Sitecore.ExperienceForms.Mvc.Html
@using GoHorse.Foundation.Assets.Models
@using GoHorse.Foundation.Assets.Services
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    @Html.RenderFormStyles()
    @Html.RenderFormScripts()
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles()
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @RenderBody()
</body>
</html>